<mat-card>
  <mat-card-title color="primary">Simple Form Example</mat-card-title>
  <mat-card-content>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()">
      <div fxLayout="column">

        <mat-form-field hintLabel="Max 10 characters">
          <input matInput [(ngModel)]="user.name" name="name" maxlength="10" placeholder="Enter your name" required>
          <mat-hint align="end">{{user.name?.length || 0}}/10</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="user.email" name="email"  placeholder="Enter your email" [formControl]="email" required>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="user.mobile" name="mobile"  placeholder="Please Enter your phone number">
        </mat-form-field>

        <mat-form-field>
          <mat-select [(ngModel)]="user.role" name="role" placeholder="Please enter your role">
            <mat-option *ngFor="let role of roles" [value]="role">{{role.role}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button [disabled]="!userForm.valid" mat-raised-button type="submit">Sign up</button>

      </div>
    </form>
  </mat-card-content>
</mat-card>