<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="themeMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item>Toggle Theme</button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container fxLayout="row" fxFlex>

  <mat-sidenav #snav mode="push" closed>
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home </span>
      </mat-list-item>
      <mat-list-item routerLink="/form">
        <mat-icon>poll</mat-icon>
        <span>Simple Form </span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>