  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #themeMenu x-position="before">
      <button mat-menu-item>Toggle Theme</button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container >

    <mat-sidenav #snav mode="slide" closed>
      <mat-nav-list>
        <mat-list-item routerLink="/home">
          <mat-icon matListAvatar class="avatar"></mat-icon>
          <span>Home </span>
        </mat-list-item>
        <mat-list-item routerLink="/form">
          <mat-icon matListAvatar class="avatar"></mat-icon>
          <span>Form </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListAvatar class="avatar"></mat-icon>
          <span>How how </span>
        </mat-list-item>
        <mat-list-item>
          <mat-icon matListAvatar class="avatar"></mat-icon>
          <span>Hey hey</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
