/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/_theming';
// @include mat-core();
// $primary: mat-palette($mat-lime, 500);
// $accent:  mat-palette($mat-lime, 500, A200, A400);
// $warn:    mat-palette($mat-red, 500);
// $theme: mat-light-theme($primary, $accent, $warn);
// @include angular-material-theme($theme);

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

html, body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}